<% content_for :meta_head do %>
  <title><%= @meta_title %></title>
  <meta name="description" content="<%= @meta_description %>">
  <meta property="og:title" content="<%= @meta_title %>" />
  <meta property="og:description" content="<%= @meta_description %>" />
  <meta property="og:url" content="<%= @meta_url %>" />
<% end %>
<main>
  <div class="row g-5">
    <div class="col-md-12">
      <h1><%= @page_title %></h1>
      <%= render "shared/flash_message", object: flash %>
    </div>
  </div>
  <% if @chord %>
    <div class="row g-5">
      <div class="col-sm-1">
        <div class="position-sticky" style="top: 1rem;">
          <div class="text-center mt-4">
            <%= link_to(
                "<i class='bi #{@chord.status_symbol} #{@chord.status_color}' style='font-size: 1.5rem;'></i>".html_safe,
                guitar_chord_history_path,
                title: "Status: #{@chord.status}"
            ) %>
          </div>
          <div class="text-center mt-4">
            <% if user_signed_in? && @chord.users.include?(current_user) %>
              <%= link_to(
                      '<i class="bi bi-heart-fill"></i>'.html_safe,
                      chord_unvote_path(id: @chord.id),
                      remote: true,
                      method: :delete,
                      :id => "ajax_trigger"
                  )
              %>
            <% else %>
                <%= link_to(
                        '<i class="bi bi-heart"></i>'.html_safe,
                        chord_vote_path(id: @chord.id),
                        remote: true,
                        method: :post,
                        title: t('somebody_to_love'),
                        :id => "ajax_trigger"
                    )
                %>
            <% end %>
            <span class="badge rounded-pill bg-warning text-dark"><%= @chord.users.count %></span>
          </div>
          <div class="text-center mt-4">
            <i class="bi bi-graph-up-arrow"></i>
            <span class="badge rounded-pill bg-warning text-dark"><%= @chord.views_count %></span>
          </div>
        </div>
      </div>
      <div class="col-sm-11">
        <div class="row mb-3">
          <div class="col-sm-4 fw-bold fst-italic d-inline-flex">
            <%= link_to(
                "@#{@author}",
                profile_path(@author),
                title: "Author: @#{@author}"
            ) %>
          </div>
          <div class="col-sm-4 fw-bold fst-italic">
            <%= link_to(
                t('song_detail'),
                song_bridge_path(@song.slug),
                title: "#{@chord.song_provider.name}"
            ) if @chord.song_provider.present? %>
          </div>    
          <div class="col-sm-4 fw-bold fst-italic">                 
            <span class="badge bg-primary rounded-pill fst-italic fw-light float-end">
              <%= @chord.created_at.strftime("%B %-d, %Y") %>
            </span>
          </div>
        </div>
        <%=
        "<div class='mb-5'>
          #{link_to('Review chord!', guitar_chord_review_path, class: 'btn btn-warning btn-lg px-4')}
        </div>".html_safe if @chord.pending?
        %>
        <%= @chord_content.html_safe %>
        <div class="row mt-3">
          <h3 id="discussion"><%= t('discussion') %></h3>
          <%= render "shared/flash_message", object: flash %>
          <div class="mb-3">
            <%= form_for [@chord, Comment.new] do |f| %>
              <%= f.text_area :body, placeholder: t('discussion_comment_placeholder'), rows: "4" , cols: "50%" %><br/>
              <%= f.hidden_field :user_id, value: current_user.id if user_signed_in? %>
              <%= f.submit t('discussion_comment_button'), class: "btn btn-primary" %>
            <% end %>
          </div>
          <%= render(partial: 'comments/comment', collection: @chord.comments) %>
        </div>
      </div>
    </div>
    <%= render 'shared/partial_breadcrumbs' do %>
      <li class="breadcrumb-item">
        <%= link_to(
                  t('guitar_chord_link', slug: @chord.link_title),
                  guitar_chord_detail_path(@chord.slug)
                ) %>
      </li>
    <% end %>
  <% else %>
    <div class="row g-5 mb-5">
      <div class="col-sm-4">
        <%= link_to('Share chord!', guitar_chord_add_path, class: 'btn btn-primary btn-lg px-4') %>
      </div>
      <div class="col-sm-8">
        The chord you are looking for is not available. Please add it.
      </div>
    </div>
  <% end %>
</main>
