<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t("user_reset_password_email_heading", user_name: @user.name) %></h1>
    <p><%= t("user_reset_password_email_heading_p1") %></p>
    <p>
        <%=
        t(
            "user_reset_password_email_heading_p2",
            href: link_to(
              t("user_reset_password_email_link"),
              edit_user_password_url(reset_password_token: @token)
            )
        ).html_safe
        %>
    </p>
    <h2><%= t("user_notifier_projects") %></h2>
    <p><a href="https://nft.musik88.com/" target="__blank">NFT</a></p>
    <p><a href="https://beta.splitfire.ai/" target="__blank">SplitFire AI</a></p>
    <p><a href="https://discord.gg/kdZSk6mdAE" target="__blank">Join our Discord server</a></p>
    </br>
    </br>
    <p><%= t('user_email_with_love') %></p>
    <p><a href="https://<%= @host %>/@seto" target="__blank">@seto</a></p>
  </body>
</html>