<tr style="vertical-align: middle" id="bass64-row-<%= audio_file.id %>">
    <td style="padding: 10px 10px 10px 0;">
      <% if audio_file.source_file.attached? %>
        <%= link_to(audio_file.source_file.blob.filename, my_bass64_detail_path(audio_file.id)) %>
      <% else %>
        File is missing. Please delete this.
      <% end %>
      <%= render "my/partial_audio_file_information", audio_file: audio_file %>
    </td>
    <td style="padding: 10px; width: 200px">
      <% if !audio_file.source_file.attached? %>
        Missing file.
      <% elsif audio_file.audio_file_bass64_status.nil? || (!audio_file.audio_file_bass64_status.nil? && audio_file.audio_file_bass64_status.pending? || audio_file.audio_file_bass64_status.cancelled?) %>
        <%= link_to("Bass64 🎸", my_bass64_start_path(audio_file.id), data: { confirm: '"This will take time 🎸" - Bass64' }, method: :post) %>
      <% elsif !audio_file.audio_file_bass64_status.nil? && audio_file.audio_file_bass64_status.processing? %>
        Bass64 is processing <%= image_pack_tag "fire.gif", :size => "25x25", :style => "vertical-align: bottom" %>
        </br>
        <%= link_to("<i class='icon-remove'></i> Cancel".html_safe, my_bass64_cancel_path(audio_file.id), data: { confirm: 'This will cancel the Bass64 🎸 process.' }, method: :patch) %>
      <% elsif !audio_file.audio_file_bass64_status.nil? && audio_file.audio_file_bass64_status.done? %>
        <%= link_to("<i class='icon-list'></i> See results".html_safe, my_bass64_detail_path(audio_file.id)) %>
      <% elsif !audio_file.audio_file_bass64_status.nil? && audio_file.audio_file_bass64_status.no_results? %>
        <%= link_to("Bass64 #{image_pack_tag('fire.gif', :size => '15x15', :style => 'vertical-align: top')} again?".html_safe, my_bass64_start_path(audio_file.id), data: { confirm: '"This will take time 🎸" - Bass64' }, method: :post) %>
      <% end %>
    </td>
</tr>