<% content_for :meta_head do %>
    <title><%= @meta_title %> | <%= @user.name %></title>
    <meta name="description" content="<%= @meta_description %>">
<% end %>
    
    <div class="row">
        <!-- BEGIN content -->
        <div class="col-md-12">
            
                <div class="page-header">
                    <h1><%= t("my") %> / KaroKowe 🎤</h1>
                </div>
                <%= render "shared/flash_message", object: flash %>
            
        </div>
      <div class="col-md-2">
        <%= render "my/partial_menu" %>
      </div>
      <div class="col-md-10">
        
          <div class="row">
            <!-- BEGIN content -->
            <div class="col-md-12">
                <div class="lead page-info">
                    <b><i>KaroKowe</i></b> is your AI personal assistant to generate <b><i>karaoke version</i></b> of a song.
                </div>
                <h2>Files</h2>
                <% if @audio_files.count == 0 %>
                    You don't have any files to split.
                <% else %>
                    <table style="width: 100%">
                    <% @audio_files.each_with_index do |audio_file, index| %>
                        <%= render "my/partial_karokowe_row", audio_file: audio_file %>
                    <% end %>
                    </table>
                <% end %>
              <div class="modul" style="margin-top: 20px; padding-right: 6px;">
                <%= render "my/partial_karokowe_version" %>
              </div>
            </div>
          </div>
        
      </div>
      <!-- END content -->
    </div>
    
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-12">
        
          <ol class="breadcrumb">
            <li><%= link_to t("breadcrumb_home"), root_path %></li>
          </ol>
        
      </div>
    </div>
    