<% content_for :meta_head do %>
  <title><%= @meta_title %></title>
  <meta name="description" content="<%= @meta_description %>">
  <meta property="og:title" content="<%= @meta_title %>" />
  <meta property="og:description" content="<%= @meta_description %>" />
  <meta property="og:url" content="<%= album_url %>" />
<% end %>
<% content_for :breadcrumb do %>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "<%= root_url %>",
          "name": "<%= t("site_name") %>"
        }
      },{
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "<%= album_url %>",
          "name": "<%= t("nav_albums") %>"
        }
      }]
    }
  </script>
<% end %>
<div class="row">
  <!-- BEGIN content -->
  <div class="col-md-8">
    <div class="bluebox-heading">
      <h1><%= @page.title if @page %></h1>
      <div class="lead">
        <%= raw @page.page_content if @page %>
      </div>
    </div>
    <div class="bluebox-heading">
      <h3><%= t("h2_find_new_albums") %></h3>
    </div>
    <% @albums.each_with_index do |album, index| %>
      <% if (index == 0 || index % 2 == 0) %>
        <div class="row content-row mb-3">
        <% end %>
        <div class="col-md-6">
          <section class="featured-post">
            <a class="image-wrap" href="<%= album_detail_path(album.name.downcase.parameterize + "-" + album.artists[0].name.downcase.parameterize + "-" + album.id.to_s) %>">
                <%= image_pack_tag(
                    "image-placeholder-#{rand(0...3)}.jpg",
                    alt:"#{album.name} cover image.",
                    class: "img-thumbnail rounded mx-auto d-block"
                ) %>
              <span class="image-details"></span>
            </a>
            <h2>
              <%= link_to album.name,
                            album_detail_path(album.name.downcase.parameterize + "-" + album.artists[0].name.downcase.parameterize + "-" + album.id.to_s) %>
            </h2>
            <p><%= strip_tags album.description.truncate 60 %></p>
            <div class="bluebox-info-line">
              <span class="featured-post-date"><%= album.updated_at.strftime("%B %-d, %Y") %></span>
              <%= link_to t("see_album_detail"),
                            album_detail_path(album_friendly_url(album)),
                            class: "badge rounded-pill bg-warning" %>
            </div>
          </section>
        </div>
        <% if (index == @albums.size - 1 || (index != 0 && index % 2 != 0)) %>
        </div>
      <% end %>
    <% end %>
    <%= will_paginate(@albums, class: 'flickr_pagination') %>
  </div>
  <%= render("partial_aside") %>
  <!-- END content -->
</div>
<%= render "shared/partial_breadcrumbs" do %>
  <li class="breadcrumb-item"><%= link_to t("nav_albums"), album_path %></li>
<% end %>
