<% content_for :meta_head do %>
  <title><%= @meta_title %></title>
  <meta name="description" content="<%= @meta_description %>">
  <meta property="og:title" content="<%= @meta_title %>" />
  <meta property="og:description" content="<%= @meta_description %>" />
  <meta property="og:url" content="<%= @meta_url %>" />
<% end %>
<% content_for :breadcrumb do %>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "<%= request.base_url %>",
          "name": "Musik 88"
        }
      },{
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "<%= artist_url %>",
          "name": "<%= t("nav_artists") %>"
        }
      },{
        "@type": "ListItem",
        "position": 3,
        "item": {
          "@id": "<%= artist_detail_url %>",
          "name": "<%= @artist.name %>"
        }
      }]
    }
  </script>
<% end %>
<main>
  <div class="row g-5">
    <div class="col-md-12">
      <h1><%= @page_title %></h1>
      <%= render('shared/flash_message', object: flash) %>
    </div>
  </div>
  <div class="row g-5">
    <div class="col-sm-3">
      <div class="position-sticky" style="top: 1rem;">
        <div class="text-center mt-4 mb-4">
            <%= image_pack_tag(
                "image-placeholder-#{rand(0...3)}.jpg",
                alt:"#{@artist.name} image",
                class: "img-thumbnail rounded-circle"
            ) %>
        </div>
        <%= render('partial_meta', id: @artist.id, users: @artist.users, author: @artist.user, counter: @artist.views_count) %>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="row mb-3">
        <div class="col-md-12">
          <%= raw @artist.description %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2><%= @page_title_album %></h1>
          <% @albums.each_with_index do |album, index| %>
            <%= render('partial_album_row', album: album, index: index) %>
          <% end %>
        </div>
      </div>
      <% if !@albums_contribute_to.blank? %>
        <div class="row">
          <div class="col-md-12">
            <h2><%= @page_title_album_contribute_to %></h1>
            <% @albums_contribute_to.each_with_index do |album, index| %>
              <%= render('partial_album_row', album: album, index: index) %>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="row mt-3">
            <h3 id="discussion"><%= t('discussion') %></h3>
            <%= render "shared/flash_message", object: flash %>
            <div class="mb-3">
              <%= form_for [@artist, Comment.new] do |f| %>
                <%= f.text_area :body, placeholder: t('discussion_comment_placeholder'), rows: "4" , cols: "50%" %><br/>
                <%= f.hidden_field :user_id, value: current_user.id if user_signed_in? %>
                <%= f.submit t('discussion_comment_button'), class: "btn btn-primary" %>
              <% end %>
            </div>
            <%= render(partial: 'comments/comment', collection: @artist.comments) %>
      </div>
    </div>
  </div>
  <%= render 'shared/partial_breadcrumbs' do %>
    <li class="breadcrumb-item">
      <%= link_to(
                t("nav_artists"),
                artist_path
       ) %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to(
        @artist.name,
        artist_detail_path(artist_friendly_url(@artist))
       ) %>
    </li>
  <% end %>
</main>
