 <% content_for :meta_head do %>
  <title><%= @meta_title %></title>
  <meta name="description" content="<%= @meta_description %>">
  <meta property="og:title" content="<%= @meta_title %>" />
  <meta property="og:description" content="<%= @meta_description %>" />
  <meta property="og:url" content="<%= @meta_url %>" />
<% end %>
<main>
  <h1 class="mb-5">
    <i class="bi bi-tools"></i> Application Programming Interface
  </h1>
  <div class="mb-3">
    Welcome to Musik88 API documentation.
  </div>
  <%= link_to('V1', "#{request.url}/v1") %>

  <%= render 'shared/partial_breadcrumbs' do %>
    <li class="breadcrumb-item"><%= link_to('API', api_root_path) %></li>
  <% end %>
</main>