<!-- BEGIN footer -->
<footer>
    <div class="row">
        <div class="col-md-4">
            <div class="bluebox-heading">
                <h3>Musik88</h3>
            </div>
            <span class="clear"></span>
            <ul class="news-list">
                <li>
                    <h4>
                        <%= link_to('SplitFire 🔥', splitfire_path) %>
                    </h4>
                    <span></span>
                </li>
                <li>
                    <%= link_to('Bass backing track generator 🎸', bass64_branding_path) %>
                </li>
                <li>
                    <%= link_to('Drum backing track generator 🥁', bonzo_branding_path) %>
                </li>
                <li>
                    <%= link_to('Make karaoke version of song 🎤', karokowe_branding_path) %>
                    <span></span>
                </li>
            </ul>
        </div>

        <div class="col-md-4">
            <div class="bluebox-heading">
            </div>
            <ul class="news-list">
                <li>
                    <h4>
                        <%= link_to t('nav_footer_about'), about_us_path %>
                    </h4>
                    <span></span>
                </li>
                <li>
                    <h4>
                        <%= link_to t('nav_footer_term'), term_of_use_path %>
                    </h4>
                    <span></span>
                </li>
                <li>
                    <h4>
                        <%= link_to t('nav_footer_privacy'), privacy_policy_path %>
                    </h4>
                    <span></span>
                </li>
                <li>
                    <h4>
                        <%= link_to t('nav_footer_contact'), contact_path %>
                    </h4>
                    <span></span>
                </li>
            </ul>
            <span class="clear"></span>
        </div>

        <div class="col-md-4">
            <div class="bluebox-heading">
                <h3><%= t('nav_footer_follow_us') %></h3>
            </div>
            <div class="social-widget">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/tutorialgitar88/" target="__blank">
                            <span><i class="icon-facebook"></i></span>
                            <span><i class="icon-facebook"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/tutorialgitar88/" target="__blank">
                            <span><i class="icon-instagram"></i></span>
                            <span><i class="icon-instagram"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
            <span class="clear"></span>
        </div>
    </div>
</footer>
<!-- END footer -->
<div class="copyrights-content">
    crafted with ❤️ + <a href="https://www.ruby-lang.org/en/" target="__blank">💎</a>
    </br><a href="https://www.instagram.com/visitstockholm/" target="__blank">Stockholm</a>
</div>