<div class="row mb-5">
  <div class="col-sm-4 mb-2">
    <%= link_to(
        image_tag(
          item.youtube_thumbnail,
          class: "img-fluid rounded text-center mb-2",
          style: "width: 300px;"
        ),
        item.splitfire_link,
      target: :_blank
    ) %>
    <%= link_to(
              "@#{item.user.username_or_id}",
              profile_path(item.user),
              title: "Author: @#{item.user.username_or_id}"
          ) %>
  </div>
  <div class="col-sm-8">
    <ul class="list-group">
      <li class="list-group-item">
        <i class="bi bi-music-note-list"></i>
        <%= link_to(
      item.source_file.filename,
      item.splitfire_link,
      target: :_blank
    ) %>
      </li>
      <li class="list-group-item">
        <i class="bi bi-mic-fill"></i>
        <%= link_to(
      item.karaoke_title,
      item.splitfire_karaoke_link,
      target: :_blank
    ) %>
      </li>
      <li class="list-group-item">
        <i class="bi bi-music-note-list"></i>
        <%= link_to(
      item.guitar_backing_track_title,
      item.guitar_backing_track_file.present? ? item.splitfire_guitar_backing_track_link : guitar_backing_track_path(item.backing_track_slug),
      target: :_blank
    ) %>
      </li>
      <li class="list-group-item">
        <i class="bi bi-music-note-list"></i>
        <%= link_to(
        item.bass_backing_track_title,
        item.bass_backing_track_file.present? ? item.splitfire_bass_backing_track_link : bass_backing_track_path(item.backing_track_slug),
        target: :_blank
    ) %>
      </li>
       <li class="list-group-item">
        <i class="bi bi-music-note-list"></i>
        <%= link_to(
        item.drum_backing_track_title,
        item.drum_backing_track.present? ? item.splitfire_drum_backing_track_link : drum_backing_track_path(item.backing_track_slug),
        target: :_blank
    ) %>
      </li>
      <% if !item.song.nil? %>
        <li class="list-group-item list-group-item-warning">
          <div class="row mt-2">
            <div class="col-1 text-center">
              <i class="bi bi-info-circle-fill align-center"></i>
            </div>
            <div class="col-11">
              <%= render 'users/partial_audio_file_information', audio_file: item %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
