<% content_for :meta_head do %>
  <title><%= @meta_title %></title>
  <meta name="description" content="<%= @meta_description %>">
  <meta property="og:title" content="<%= @meta_title %>" />
  <meta property="og:description" content="<%= @meta_description %>" />
  <meta property="og:url" content="<%= song_url %>" />
<% end %>
<% content_for :breadcrumb do %>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "<%= root_url %>",
          "name": "<%= t("site_name") %>"
        }
      },{
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "<%= song_url %>",
          "name": "<%= t("nav_songs") %>"
        }
      }]
    }
  </script>
<% end %>
<div class="row">
  <!-- BEGIN content -->
  <div class="col-md-8">
    <div class="bluebox-heading">
      <h2><%= @page.title if @page %></h2>
      <div class="lead">
        <%= raw @page.page_content if @page %>
      </div>
    </div>
    <div class="bluebox-heading">
      <h3><%= t("find_your_favorite_songs") %></h3>
    </div>
    <% @songs.each_with_index do |song, index| %>
      <% if (index == 0 || index % 2 == 0) %>
        <div class="row content-row">
        <% end %>
        <div class="col-md-6">
          <section class="featured-post">
            <a class="image-wrap" href="<%= song_detail_path(song.slug) %>">
              <%= image_pack_tag("image-placeholder-#{rand(0...3)}.jpg", alt:"#{song.name} cover image.", style:"width:267px;height:165px;") %>
              <span class="image-details"></span>
            </a>
            <h1>
              <%= link_to song.name,
                          song_detail_path(song.slug) %>
            </h1>
            <p><%= strip_tags song.description.truncate 60 %></p>
            <div class="bluebox-info-line">
              <span class="featured-post-date"><%= song.updated_at.strftime("%B %-d, %Y") %></span>
              <%= link_to t("see_song_detail"),
                            song_detail_path(song.slug),
                            class: "badge rounded-pill bg-warning float-end" %>
            </div>
          </section>
        </div>
        <% if (index == @songs.size - 1 || (index != 0 && index % 2 != 0)) %>
        </div>
      <% end %>
    <% end %>
    <%= will_paginate @songs, class: 'flickr_pagination' %>
  </div>
  <%= render("partial_aside_index.html") %>
</div>
<%= render "shared/partial_breadcrumbs" do %>
  <li class="breadcrumb-item"><%= link_to t("nav_songs"), song_path %></li>
<% end %>
